<td><%= link_to repo.name, repo.html_url %></td>
<td class="description"><%= repo.description %></td>
<td><%= repo.language.downcase || "undefined" %></td>
<td class="tags">
  <% tags(repo, searched_user).each do |repo_tag| %>
    <div id="repo-tag<%= repo_tag.id %>">
      <%= repo_tag.name %>&nbsp;<%= link_to "x", repo_tag, method: :delete, remote: true %>
    </div>
  <% end %>
</td>
