<%= @username %>'s starred repositories
<%= "Oops, no starred repositories were found." if @repos.empty? %>

<% @repos.each do |repo| %>
  <p>
    <%= link_to repo.name, repo.html_url %> |
    <%= repo.description %> |
    <%= repo.language || "undefined" %> |
    <%= repo.repository_tags.map { |tag| tag.name }.join(", ") %>
    <%= form_for [repo, @repository_tag] do |f| %>
      <%= hidden_field_tag :repo_ids, @repos.map { |repo| repo.id } %>
      <%= hidden_field_tag :username, @username %>
      <%= label_tag(:name, "Add tag: ") %>
      <%= text_field_tag(:name) %>
      <%= submit_tag "+" %>
    <% end %>
  </p>
<% end %>
